@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
}

header {
  background-color: #DC747C;
  padding: 40px;
}

.home-link {
  color: #fff;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}

#breakfast {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
}

#intro-text {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 2;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 35px;
  margin: 0px;
}

h3 {
  text-align: center;
  font-size: 35px;
  margin: 0px;
  margin-top: 20px;
}

#number {
  font-size: 60px;
  font-weight: 400;
  color: #919198;
}

#light-heading, #hearty-heading {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 2;
  color: #555;
  border-top: 2px solid #ddd;
  padding-top: 8px;
}

.result-link {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  line-height: 3;
  font-weight: 700;
}

.result-link:hover {
  color: #eee;
}

.start-over a{
  text-align: center;
  color: #fff!important;
  display: block;
  width: 200px;
  margin: -15px auto 0px;
  background-color: #222;
  padding: 5px 8px;
  text-transform: uppercase;
  text-decoration: none;
}

/** Global Button Text/Image Styling**/

.two-column {
  margin: 0 auto;
  max-width: 1000px;
}

.two-column::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 50%;
  float: left;
  text-align: center;
  height: 200px;
  width: 400px;
  margin: 50px;
}

.button-text {
  margin-top: 75px;
}

.button-text a {
  color: #fff;
  font-weight: 700;
  text-decoration: none!important;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  border: 2px solid #fff;
  padding: 5px 8px;
}

.button-text a:hover {
  background-color: #222;
  border: 2px solid #222;
  color: #fff;
  padding: 5px 8px;
}

/**Vegetarian Pages**/

#vegetarian {
  background-image: url(/images/eggs.jpg);
  background-position: center;
}

.vegetarian-banner {
  background-color: #B2C8A8;
}

#vegetarian-intro {
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 2;
  letter-spacing: 5px;
  background-color: #222;
  max-width: 400px;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 10px;
}

#light-veg {
  background-image: url(/images/light-smoothie.jpg);
  background-position: top left;
}

#hearty-veg {
  background-image: url(/images/hearty-pancakes.jpg);
  background-position: center;
}

#light-sweet-veg {
  background-image: url(/images/light-sweet-veg.jpg);
  background-position: right;
}

#light-savory-veg {
  background-image: url(/images/light-savory-veg.jpg);
  background-position: center;
}

#hearty-sweet-veg {
  background-image: url(/images/hearty-sweet-veg.jpg);
  background-position: center;
}

#hearty-savory-veg {
  background-image: url(/images/hearty-savory-veg.jpg);
  background-position: center;
}

#smoothie-bowl {
  background-color: #A391B9;
  margin-top: 150px;
}

#savory-yogurt {
  background-color: #95A5C3;
  margin-top: 150px;
}

#breakfast-salad {
  background-color: #5CBBC1;
  margin-top: 150px;
}

.protein-pancakes {
  background-color: #E5A3A0;
  margin-top: 150px;
}

/*.protein-pancakes {
  color: #fff!important;
}*/

/**Carnivore Styling**/

#carnivore {
  background-image: url(/images/bacon.jpg);
  background-position: center;
}

.carnivore-banner {
  background-color: #ECCCBA;
}
#carnivore-intro {
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 2;
  letter-spacing: 5px;
  background-color: #222;
  max-width: 400px;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 10px;
}

#light-carn {
  background-image: url(/images/light-breakfast.jpg);
  background-position: bottom;
}

#hearty-carn {
  background-image: url(/images/hearty-carnivore.jpg);
  background-position: center;
}

#light-sweet-carn {
  background-image: url(/images/light-sweet-carn.jpg);
  background-position: center;
}

#light-savory-carn {
  background-image: url(/images/light-savory-carn.jpg);
  background-position: center;
}

#hearty-sweet-carn {
  background-image: url(/images/hearty-sweet-carn.jpg);
  background-position: center;
}

#hearty-savory-carn {
  background-image: url(/images/hearty-savory-carn.jpg);
  background-position: right;
}

#waffle-sandwich {
  background-color: #997580;
  margin-top: 150px;
}

#avocado-toast {
  background-color: #61887A;
  margin-top: 100px;
}

#fried-rice {
  background-color: #D94E93;
  margin-top: 100px;
}

#maple-bacon {
  background-color: #AA8962;
  margin-top: 150px;
}



/**Media Queries**/

@media (max-width: 774px) {
  .home-link {
    font-size: 45px;
  }
}
